
#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';

  > header, > footer {
    background-color: #4C5355;
    color: white;
    min-height: 50px;
  }

  > header {
    grid-area: header;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  > main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 6fr 6fr 6fr 1fr; 
    grid-template-areas:
      '. . . .'
      '. break-controller session-controller .'
      '. timer timer .'
      '. timer-controller timer-controller .'
      '. . . .';

    > #break-controller {
      grid-area: break-controller;
      background-color: blue;
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 6fr 6fr 1fr;
      grid-template-areas:
        '. . .'
        '. break-title .'
        '. break-info .'
        '. . .';

        > #break-title {
          grid-area: break-title;
          text-align: center;
        }
        
        > #break-info {
          grid-area: break-info;
          text-align: center;
          display: grid;
          grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
          grid-template-rows: auto;
          grid-template-areas:
            '. break-minus break-length break-plus .';

            > #break-minus {
              grid-area: break-minus;
            }

            > #break-length {
              grid-area: break-length;
            }

            > #break-plus {
              grid-area: break-plus;
            }

        }

    }

    > #session-controller {
      grid-area: session-controller;
      background-color: green;
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 6fr 6fr 1fr;
      grid-template-areas:
        '. . .'
        '. session-title .'
        '. session-info .'
        '. . .';

        > #session-title {
          grid-area: session-title;
          text-align: center;
        }
        
        > #session-info {
          grid-area: session-info;
          text-align: center;
          display: grid;
          grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
          grid-template-rows: auto;
          grid-template-areas:
            '. session-minus session-length session-plus .';

            > #session-minus {
              grid-area: session-minus;
            }

            > #session-length {
              grid-area: session-length;
            }

            > #session-plus {
              grid-area: session-plus;
            }
        }
    }

    > #timer {
      grid-area: timer;
      background-color: lightpink;
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        '. timer-box .';

      > #timer-box {
        grid-area: timer-box;
        background-color: lightcoral;
        border-radius: 50%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 1fr;
        grid-template-areas:
          '. . .'
          '. timer-title .'
          '. timer-time .'
          '. . .';

          > #timer-title {
            grid-area: timer-title;
            text-align: center;
          }

          > #timer-time {
            grid-area: timer-time;
            text-align: center;
          }

      }

    }

    > #timer-controller {
      grid-area: timer-controller;
      background-color: yellow;
      display: grid;
      grid-template-columns: 4fr 2fr 2fr 2fr 4fr;
      grid-template-rows: 1fr 1fr 4fr;
      grid-template-areas:
        '. . . . .'
        '. timer-start timer-pause timer-restart .'
        '. . . . .';

      > #timer-start {
        grid-area: timer-start;
        text-align: center;
      }

      > #timer-pause {
        grid-area: timer-pause;
        text-align: center;
      }

      > #timer-restart {
        grid-area: timer-restart;
        text-align: center;
      }
      
    }

  }

  > footer {
    grid-area: footer;
  }

  > * button {
    border-radius: 50%;
    vertical-align: middle;
  }

  .btn-minus {
    text-align: right;
  }

  .btn-plus {
    text-align: left;
  }
}
