
#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';

  > header, > footer {
    background-color: #050533;
    color: white;
    min-height: 50px;
  }

  > header {
    grid-area: header;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  > main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 6fr 6fr 6fr 1fr; 
    grid-template-areas:
      '. . . .'
      '. break-controller session-controller .'
      '. timer timer .'
      '. timer-controller timer-controller .'
      '. . . .';

    > #break-controller {
      grid-area: break-controller;
      display: grid;
      background-color: #0D698B;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 6fr 6fr 1fr;
      grid-template-areas:
        '. . .'
        '. break-label .'
        '. break-info .'
        '. . .';

        > #break-label {
          grid-area: break-label;
          text-align: center;
        }
        
        > #break-info {
          grid-area: break-info;
          text-align: center;
          font-size: x-large;
          display: grid;
          grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
          grid-template-rows: auto;
          grid-template-areas:
            '. break-decrement break-length break-increment .';

            > #break-decrement {
              grid-area: break-decrement;
            }

            > #break-length {
              grid-area: break-length;
            }

            > #break-increment {
              grid-area: break-increment;
            }

        }

    }

    > #session-controller {
      grid-area: session-controller;
      display: grid;
      background-color: #0D698B;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 6fr 6fr 1fr;
      grid-template-areas:
        '. . .'
        '. session-label .'
        '. session-info .'
        '. . .';

        > #session-label {
          grid-area: session-label;
          text-align: center;
        }
        
        > #session-info {
          grid-area: session-info;
          text-align: center;
          display: grid;
          font-size: x-large;
          grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
          grid-template-rows: auto;
          grid-template-areas:
            '. session-decrement session-length session-increment .';

            > #session-decrement {
              grid-area: session-decrement;
            }

            > #session-length {
              grid-area: session-length;
            }

            > #session-increment {
              grid-area: session-increment;
            }
        }
    }

    > #timer {
      grid-area: timer;
      display: grid;
      background-color: #0D698B;
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        '. timer-box .';

      > #timer-box {
        grid-area: timer-box;
        border-radius: 50%;
        background-color: #E34234;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 1fr;
        grid-template-areas:
          '. . .'
          '. timer-label .'
          '. time-left .'
          '. . .';

          > #timer-label {
            grid-area: timer-label;
            text-align: center;
          }

          > #time-left {
            grid-area: time-left;
            text-align: center;
          }

      }

    }

    > #timer-controller {
      grid-area: timer-controller;
      display: grid;
      background-color: #0D698B;
      grid-template-columns: 4fr 2fr 2fr 2fr 4fr;
      grid-template-rows: 1fr 1fr 4fr;
      grid-template-areas:
        '. . . . .'
        '. timer-start timer-pause timer-restart .'
        '. . . . .';

      > #timer-start {
        grid-area: timer-start;
        text-align: right;
      }

      > #timer-pause {
        grid-area: timer-pause;
        text-align: center;
      }

      > #timer-restart {
        grid-area: timer-restart;
        text-align: left;
      }
      
    }

  }

  > footer {
    grid-area: footer;
  }

  > * button {
    border-radius: 50%;
    vertical-align: middle;
  }

  .btn-minus {
    text-align: right;
  }

  .btn-plus {
    text-align: left;
  }
}
